{% extends 'base.html' %}
{% load static %}
{% block title %}ENERGYMfitness{% endblock %}

{% block style %}
    <style>
        body {
            background-image: url('{% static 'img/img1.jpg' %}');
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        #benvenuto {
            background-color: orange;
            margin-top: 10px;
            margin-bottom: 5px;
            border-radius: 5px;
        }

        #benvenuto p {
            text-align: center;
            font-size: 30px;
            color: white;
            margin: 0;
            font-family: Calibri;
        }

        #title{
            background-color: rgba(253,126,20, 0.8);
            color: white;
            border-radius: 5px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div id="benvenuto">
            {% if user.is_authenticated %}
                <p>Benvenuto, <b>{{ user.get_username }}!</b></p>
            {% else %}
                <p>Benvenuto!</p>
                <p style="font-size: 15px;">Entra nella nostra community!</p>
            {% endif %}
        </div>

        {% if notizie_consigliate %}
            <div id="title">
                <p style="text-align: center; margin-bottom: 10px"><b>Notizie che potrebbero interessarti</b></p>
            </div>
        {% elif user.is_authenticated %}
            <div id="title">
                <p style="text-align: center;font-size: 10px; font-family: Bahnschrift; margin-bottom: 10px"><b>Non ci sono notizie consigliate per te</b></p>
            </div>
        {% endif %}
        <div class="row">
            {% for news in notizie_consigliate %}
                <div class="col-md-6 col-lg-4 col-xl-4 py-2">
                    <div class="card h-100">
                        <div class="card-info">
                            <h6><span class="badge badge-success">Per te</span></h6>
                            <h4 class="card-title">{{news.titolo}}</h4>
                            <p class="card-text">{{news.descrizione}}</p>
                        </div>
                        <div class="text-muted small">{{ news.data_creazione }}</div>
                        <div class="card-button">
                            <a href="{% url 'gestione_palestra:notizia_info' news.id %}" class="btn btn-primary my_btn">Dimmi di più</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if notizie %}
            <div id="title">
                <p style="text-align: center; margin-bottom: 0px"><b>Ultime notizie</b></p>
            </div>
        {% endif %}

        <div class="row">
            {% if user.is_authenticated %}
                {% for news in notizie %}
                    {% if news not in notizie_consigliate %}
                        <div class="col-md-6 col-lg-4 col-xl-4 py-2">
                            <div class="card h-100">
                                <div class="card-info">
                                    <h4 class="card-title">{{news.titolo}}</h4>
                                    <div class="card-img-container">
                                    </div>
                                    <p class="card-text">{{news.descrizione}}</p>
                                </div>
                                <div class="text-muted small">{{ news.data_creazione }}</div>
                                <div class="card-button">
                                    <a href="{% url 'gestione_palestra:notizia_info' news.id %}" class="btn btn-primary my_btn">Dimmi di più</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% empty %}
                    <div id="title" class="col-md-6 col-lg-4 col-xl-4 py-2">
                        <p style="text-align: center; margin-bottom: 0px"><b>Non ci sono notizie</b></p>
                    </div>
                {% endfor %}
            {% else %}
                {% for news in notizie %}
                    <div class="col-md-6 col-lg-4 col-xl-4 py-2">
                        <div class="card h-100">
                            <div class="card-info">
                                <h4 class="card-title">{{news.titolo}}</h4>
                                <div class="card-img-container">
                                </div>
                                <p class="card-text">{{news.descrizione}}</p>
                            </div>
                            <div class="text-muted small">{{ news.data_creazione }}</div>
                            <div class="card-button">
                                <a href="{% url 'gestione_palestra:notizia_info' news.id %}" class="btn btn-primary my_btn">Dimmi di più</a>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div id="title">
                        <p style="text-align: center; margin-bottom: 0px"><b>Non ci sono notizie</b></p>
                    </div>
                {% endfor %}
            {% endif %}

        </div>
        <a href="{% url 'gestione_palestra:notizie' %}"  class="btn btn-primary my_btn">Tutte le news</a>
    </div>
{% endblock %}