{% extends 'base.html' %}
{% load static %}
{% block title %}Istruttori{% endblock %}

{% block style %}
    <style>
        body {
            background-image: url('{% static 'img/img6.jpg' %}');
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        .card:hover {
            -ms-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }

        .img{
            height: 80px;
            width: 80px;
            object-fit: cover;
            border-radius: 50%;
        }

        .card-img-container {
            position: relative;
        }

        .card-img-container .img{
            position: relative;
            margin: auto;
        }
    </style>
{% endblock %}

{% block body %}
    <br>
    <br>
    <div class="container">
        <div class="row" style="padding: 20px">
            {% for insegnante in insegnanti %}
                <div class="col-md-6 col-lg-4 col-xl-4 py-2">
                    <div class="card h-100">
                        <div class="card-info">
                            <div class="card-img-container">
                                <img src="{{ insegnante.profile_img.url }}" class="img d-block ui-w-40 rounded-circle" >
                            </div>
                            <h4 class="card-title">{{insegnante.first_name}} {{insegnante.last_name}}</h4>
                            <p class="card-text">{{insegnante.descrizione_per_insegnante}}</p>
                        </div>
                        <div class="card-button">
                            <a href="{% url 'gestione_palestra:insegnante_info' insegnante.id %}" class="btn btn-primary my_btn">Vai alla pagina dedicata a {{ insegnante.first_name }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}