{% extends 'base.html' %}
{% load static %}
{% block title %}ENERGYMfitness{% endblock %}

{% block style %}
    <style>
        body {
            background-image: url('{% static 'img/img1.jpg' %}');
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        #benvenuto {
            background-color: orange;
            margin-top: 10px;
            margin-bottom: 5px;
            border-radius: 5px;
        }

        #benvenuto p {
            text-align: center;
            font-size: 30px;
            color: white;
            margin: 0;
            font-family: Calibri;
        }

        #title{
            background-color: rgba(253,126,20, 0.8);
            color: white;
            border-radius: 5px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div id="title">
            <p style="text-align: center; margin-bottom: 0px"><b>Tutte le news</b></p>
        </div>
        <div class="row">
            {% for news in notizie %}
                <div class="col-md-6 col-lg-4 col-xl-4 py-2">
                    <div class="card h-100">
                        <div class="card-info">
                            <h4 class="card-title">{{news.titolo}}</h4>
                            <div class="card-img-container">
                            </div>
                            <p class="card-text">{{news.descrizione}}</p>
                        </div>
                        <div class="text-muted small">{{ news.data_creazione }}</div>
                        <div class="card-button">
                            <a href="{% url 'gestione_palestra:notizia_info' news.id %}" class="btn btn-primary my_btn">Dimmi di più</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}