{% extends 'base.html'%}
{% load static %}
{% block title  %}Profilo di {{ object.username }}{% endblock %}
{% block style %}
    <style>
        body {
            background-image: url('{% static 'img/img4.jpg' %}');
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        .img{
            height: 100px;
            width: 100px;
            object-fit: cover;
            border-radius: 50%;
        }


    </style>
{% endblock %}

{% block body %}
    <div class="main">
        <div>
            <h1 align="center" style="padding-bottom: 20px">Gestione profilo</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <div class="container-fluid">
                        <div class="col-sm-2" style="float: left">
                            <div class="media flex-wrap w-100 align-items-center">
                                <img class="img" src="{{ object.profile_img.url }}" />
                            </div>
                        </div>
                        <div class="col-sm-10" style="float: left">
                            <p>Nome: <b>{{ object.first_name }}</b></p>
                            <p>Cognome: <b>{{ object.last_name }}</b></p>
                            <p>Username: <b>{{ object.username }}</b></p>
                            <p>Email: {{ object.email }}</p>
                            {% if user.is_insegnante %}
                                <p>Descrizione: {{ object.descrizione_per_insegnante }}</p>
                            {% endif %}
                            <br>
                            <a class="btn btn-success mr-5 my_btn"  href="{% url 'gestione_palestra:modifica_user' user.id %}">Modifica profilo</a>
                            <a class="btn btn-success my_btn"  href="#">Modifica password</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}