<form method="post" action="{% url 'lezioni:delete_lezione' lezione.id %}" class="delete-lezione-form">
    {% csrf_token %}
    <div class="modal-header">
        <h6 class="modal-title">Vuoi eliminare la lezione?</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p class="lead">Sei sicuro di voler eliminare la lezione in programma? <strong>{{ lezione.insegnantecorso.corso.nome }}</strong> del giorno <strong>{{ lezione.data }}</strong></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
        <button type="submit" class="btn btn-danger">Rimuovi</button>
    </div>
</form>