{% extends 'base.html' %}
{% load static %}
{% block title %}Lezioni{% endblock %}

{% block style %}
    <style>
        body {
            background-image: url('{% static 'img/img3.jpg' %}');
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        #bodytable{
            background-color: rgba(255,255,255, 0.8);
        }
    </style>
{% endblock %}

{% block body %}
    <div class="main">
        <h1 align="center" style="padding-bottom: 20px">Le mie lezioni</h1>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <div class="container-fluid">
                        <div  class="col-sm-2" style="float: left">
                            <button style="margin-bottom: 10px" type="button" class="btn btn-primary crea-lezione my_btn" data-url="{% url 'lezioni:crea_lezione' %}">
                                Aggiungi lezione
                            </button>
                            <p><b>I tuoi corsi:</b></p>
                            <ul>
                                {% for corso in corsi_ins %}
                                    <li><p>{{ corso.nome }}</p></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-sm-10" style="float: left">
                            <table class="table table-striped" id="table-lezioni" style="width:100%">
                                <thead>
                                <tr>
                                    <th class="text-center">Corso</th>
                                    <th class="text-center">Descrizione</th>
                                    <th class="text-center">Posti Disponibili</th>
                                    <th class="text-center">Quando?</th>
                                    <th class="text-center"> Modifica/Elimina</th>
                                </tr>
                                </thead>
                                <tbody id="bodytable">
                                {% include 'lezioni/lista_lezioni.html' %}
                                </tbody>
                            </table>
                            <div class="modal fade" id="modal-lezione">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>

        $(function () {

            var loadForm = function () {
                var btn = $(this);
                $.ajax({
                    url: btn.attr("data-url"),
                    type: 'get',
                    dataType: 'json',
                    beforeSend: function () {
                        $("#modal-lezione .modal-content").html("");
                        $("#modal-lezione").modal("show");
                    },
                    success: function (data) {
                        $("#modal-lezione .modal-content").html(data.html_form);
                    }
                });
            };

            var saveForm = function () {
                var form = $(this);
                $.ajax({
                    url: form.attr("action"),
                    data: form.serialize(),
                    type: form.attr("method"),
                    dataType: 'json',
                    success: function (data) {
                        if (data.form_is_valid) {
                            $("#table-lezioni tbody").html(data.html_lezioni_list);
                            $("#modal-lezione").modal("hide");
                        }
                        else {
                            $("#modal-lezione .modal-content").html(data.html_form);
                        }
                    }
                });
                return false;
            };


            // Crea lezione
            $(".crea-lezione").click(loadForm);
            $("#modal-lezione").on("submit", ".crea-lezione-form", saveForm);

            // Update lezione
            $("#table-lezioni").on("click", ".update-lezione", loadForm);
            $("#modal-lezione").on("submit", ".update-lezione-form", saveForm);

            //Delete lezione
            $("#table-lezioni").on("click", ".delete-lezione", loadForm);
            $("#modal-lezione").on("submit", ".delete-lezione-form", saveForm);

        });

    </script>

{% endblock %}